.preset-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: default;
  padding: 0.5em 0 0.3em 0;
  box-sizing: border-box;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  // width: 50%;
}

.arrow {
  font-size: 3em;
  cursor: pointer;
  position: relative;
  top: -5px;
}

.preset-label {
  font-size: 0.9em;
}

.preset-value {
  font-size: 2.2em;
  margin: 0 7px;
  width: 1.2em;
}
