.timer-container {
  position: relative;
  // border: 1px solid white;
}

#timer-label {
  position: relative;
  top: 0.5em;
  height: 30px;
  font-size: 1.3em;
}

#time-left {
  color: white;
  font-size: 3.5em;
  margin: 10px 0;
}

.timer-display {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;

  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;

  // border-radius: 50%;
  // border: 1px solid pink;
}

.progress {
  transform: rotate(-90deg);
}

.progress-meter {
  stroke: white;
}

.progress-value {
  stroke: #29a4b5;
  stroke-linecap: round;
}

// .timer-container > button {
//   border: none;
//   border-radius: 50%;
//   color: #3ec1d3;
//   height: 50px;
//   width: 50px;
//   background-color: white;
//   margin: 1em;
//   cursor: pointer;
// }

// .timer-container > button:focus {
//   outline: 0;
// }

#start_stop {
  font-size: 2em;
  cursor: pointer;
}
